{% extends 'todo/base.html' %}

{% block content %}
<h1>Completed</h1>
<a href="{% url  'currenttodos' %}">Current</a>
<ul>
    {% for todo in todos %}
    <li>
        <a href="{% url 'viewtodo' todo.id %}">{% if todo.important %}<b>{{ todo.title }}</b></a>
        {% else %}
        <a href="{% url 'viewtodo' todo.id %}">{{ todo.title }}</a>
        {% endif %}

    </li>
    <p>{% if todo.memo %}{{ todo.memo }}{% endif %}</p>
    {{ todo.date_completed | date:'M j Y H:i' }}
    {% endfor %}
</ul>
{% endblock %}